@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background-light text-[#222222] transition-colors duration-300;
  }
  body.dark {
    @apply bg-background-dark text-[#E5E5E5];
  }
}
